@tailwind base;
@tailwind components;
@tailwind utilities;

.calendar {
  @apply font-sans mx-auto my-8 p-4 rounded-lg shadow-lg bg-white;

  @screen sm {
    width: 100%;
  }
  @screen md {
    width: 400px;
    zoom: 1.5;
  }

}

.header {
  @apply flex items-center justify-between mb-4;

  button {
    @apply p-2 rounded-full bg-gray-200
  }

  h1 {
    @apply font-bold text-gray-500 text-sm uppercase
  }
}

.weekdays {
  @apply flex mb-4;

  div {
    @apply font-bold text-gray-500 text-sm uppercase flex-1 text-center;
  }
}

.days {
  @apply grid grid-cols-7 gap-2;

  .empty {
    @apply bg-gray-100 text-gray-500 text-sm h-14 flex items-center justify-center ;
  }

  .day {
    @apply text-white bg-blue-500 text-sm h-14 flex items-center justify-center cursor-pointer hover:bg-blue-600;
  }
}